{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section bg-light">

			<div class="container">
				<div class="row">
          {% for blog in blog %}

          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'blog-detail' blog.slug %}" class="block-20 d-flex align-items-end" style="background-image: url('/media/{{ blog.blog_image }}');">
								<div class="meta-date text-center p-2">
                  <span class="day">{{ blog.publish_date}}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">{{ blog.blog_title }}</a></h3>
                <p>{{blog.blog_content|linebreaks|range_filter}}</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="{% url 'blog-detail' blog.slug %}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">{{blog.author}}</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span>{{blog.blog_comment.count}}</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
          
			</div>
      
      
		</section>
{% endblock %}